@import url('https://fonts.googleapis.com/css?family=Mansalva|Montserrat|Solway:400,500&display=swap');
body{
    /* background-image: url("https://htmlcolorcodes.com/assets/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg"); */
    color: azure;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
h1
{
    font-family: 'Mansalva', cursive;
    line-height: 1.0em;
    font-size: 54px;
    letter-spacing: .1em;  
    -webkit-text-stroke: 2px rgba(72,72,72,1);; 
}
p {
    font-size: 22px;
    line-height: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.image-container {
    
    align-self: center;
    border-radius: 15%;
}
table {
    table-layout: fixed ;
     width: 100% ;
     margin: 10px;
  }
  td {
    width: fit-content
  }
  ul {
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    background-color: #333;
    color: white;
    opacity: 0.8;
  }
  
  li {
    float: left;
    padding: .5em;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(175, 159, 159);
  }


  .div1{
      text-align: center;
  }
  /* .row{
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  .row .col{
      margin:10px
  }
  #About{
width: 50px;
  } */

  .hero-container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url('/boots.jpg');
      background-attachment: fixed;
      background-size: cover;
  }
.hero-back{
    background: rgb(20, 20, 20);
    padding: 1em;
    opacity: 0.8;
}
  .hero-content {
      margin:0;
      display: flex;
      flex-direction: column;
      text-align: center;   
      background: rgb(20, 20, 20);
      padding: 2em;
    /* border: cadetblue; */
      border: 1px solid wheat;

}
button{
    font-size: 15;
    border-radius: 3px !important;
    background: orange;
    margin: 1em 12em;
    outline: none;
    border: 2px solid transparent;
    padding: 0.5em;
    cursor: pointer;
    color:initial;
    transition: all .2s ease-in;
}

button:hover {
    background: transparent;
    border:2px solid orange;
    color: wheat;
}
.row {
    display: flex;
    padding: 2em 2em; 
    width: 60%;
    flex-direction: column;
    
    justify-content: center;
}
.inner-container {
    display: flex;
    justify-content: center;
}
.inner-container2{
    display:flex;
    justify-content: center;
    
}

.first {
    margin-right: auto;
}

.second {
    margin-left: auto;
}

.content {
    width: 40%;
    padding: 1em;
}
.container{
    background-image: url(mountains.jpg);
    background-attachment: fixed;
}
.my-portfolio{
    margin: 0;
    padding-top: 0.75em;
    text-align: center;
    font-family: 'Mansalva', cursive;
    line-height: 1.0em;
    font-size: 54px;
    letter-spacing: .1em;  
    -webkit-text-stroke: 2px rgba(72,72,72,1);
}

.content-p
{
    background: rgba(0,0,0,0.75);
    margin:0;
    padding: 1em;
    border-radius: 5%;
}

.img-radius
{
    border-radius: 5%;
}
.container2 {
    width: 100%;
    height:100vh;
    color: white;
    background-image: url("Mountains2.jpg");
    background-attachment: fixed;
    background-size: cover;
}
.hello{
    justify-content: center;
}

.hello{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 30px;
    margin: 0px;
    margin-bottom: 20px;
}
.title{
   background: #00000073;
   
   height: 85%;
   margin: auto ;
   border-radius: 10px;
   padding: 5px 0;
   display: flex;
   width: 80%;
   justify-content: center;
   flex-direction: column;
}
.row1{
    display: flex;
    justify-content: center;
    align-content: center;
}
.row1 .img{
    margin:0 10px;
    padding: 10px 0;
}

* {
    box-sizing: border-box;
    color: #fff;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
      "sans-serif";
  }
  
  html,
  body {
    background: #0e101f;
    margin: 0;
    padding: 0;
  }
  
  *:focus {
    outline: 0;
  }
  
  .wrapper {
    margin: 100px auto 0;
    width: 70%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    height: 60vh;
  }
  
  form {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  form * {
    font-size: 20px;
    letter-spacing: 0.075em;
    font-weight: 300;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
  }
  
  form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
  }
  
  form .field label {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #b13e8b, #372056);
    width: 100%;
    height: 64px;
    transition: width 333ms ease-in-out;
    text-align: center;
    padding: 18px 0;
  }
  
  form .field input[type="text"],
  form .field textarea {
    border: none;
    width: 100%;
    height: 64px;
    margin: 0;
    padding-left: 19.5%;
    color: #313a3d;
  }
  
  form #msg {
    height: 64px;
    resize: none;
    transition: all 333ms ease-in-out;
    padding-top: 18px;
  }
  form textarea:focus#msg,
  form textarea:not(:placeholder-shown)#msg {
    height: 166px;
  }
  form input[type="text"]:focus + label,
  form input[type="text"]:not(:placeholder-shown) + label,
  form textarea:focus + label,
  form textarea:not(:placeholder-shown) + label,
  form .field:hover label {
    width: 18%;
  }
  form input[type="submit"] {
    background: linear-gradient(90deg, #b13e8b, #812d65);
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    transition: all 0.3s ease-in-out;
    align-self: start;
  }
  form input[type="submit"]:hover,
  form input[type="submit"]:focus {
    background: #372056;  
  }

  .row_2 {
    display: flex;
    flex: 33.33%;
    text-align: center;
    justify-content: center;
  }
  
  .column {
    padding: 5px;
  }